@using System;
@using System.Web.Optimization;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Tiket Expres</title>
    <link rel="icon" type="image/png" href="~/Content/assets/images/Logo.png">
    @Styles.Render("~/Content/assets/css/aplicatie.css")
    @Styles.Render("~/Content/assets/css/app.css")
    @Styles.Render("~/Content/assets/css/bootstrap.css")
    @Styles.Render("~/Content/assets/css/icons.css")
</head>
<body>

    <div class="container body-content">
        @RenderBody()

    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>