@using System.Web.Optimization;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="utf-8" />
    <title>Minton - Responsive Admin Dashboard Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/Content/assets/images/favicon.ico">

    <!-- App css -->
    @Styles.Render("~/Content/assets/css/aplicatie.css")
    @Styles.Render("~/Content/assets/css/app.css")
    @Styles.Render("~/Content/assets/css/bootstrap.css")
    @Styles.Render("~/Content/assets/css/icons.css")



</head>
<body>

   
    <!-- End Preloader-->
        @Html.Partial("_Header")
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="wrapper">
        <div class="container-fluid">
            <div class="paginatitlu">
                <div class="col-sm-8" id="coperta">
                    <h1 class="text-coperta">Descoperă noi evenimente</h1>
                    <h3 class="text-coperta-mic"> Creeazăți amintiri de neuitat</h3>
                    <br />
                    <ul class="dropdown notification-list buton-coperta">
                        <a href="#" class=" waves-light">
                            <h3 class="exploreaza">Exploreaza mai mult</h3>
                        </a>
                    </ul>
                </div>
            </div>
            <br />
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">

                        <h1 class="page-title">Filme</h1>
                    </div>
                </div>
            </div>
            <!-- end page title -->
            <!-- Filter -->
            <div class="row">
                <div class="col-12">
                    <div class="text-center filter-menu">
                        <a href="javascript: void(0);" class="filter-menu-item active" data-rel="all">
                            <i class="remixicon-home-5-line"></i>
                            All
                        </a>
                        <a href="javascript: void(0);" class="filter-menu-item" data-rel="web">Web Design</a>
                        <a href="javascript: void(0);" class="filter-menu-item" data-rel="graphic">Graphic Design</a>
                        <a href="javascript: void(0);" class="filter-menu-item" data-rel="illustrator">Illustrator</a>
                        <a href="javascript: void(0);" class="filter-menu-item" data-rel="photography">Photography</a>
                    </div>
                </div>
            </div>
            <!-- end row-->

            <div class="row filterable-content">

                <div class="col-sm-6 col-xl-3 filter-item all web illustrator">
                    <div class="gal-box">
                        <a href="~/Content/assets/images/carbon.jpg" class="image-popup" title="Screenshot-1">
                            <img src="~/Content/assets/images/carbon.jpg" class="img-fluid" alt="work-thumbnail">
                        </a>
                        <div class="gall-info">
                            <h4 class="font-16 mt-0">Man wearing black jacket</h4>
                            <a href="javascript: void(0);">
                                <img src="~/Content/assets/images/users/avatar-3.jpg" alt="user-img" class="rounded-circle" height="24" />
                                <span class="text-muted ml-1">Justin Coke</span>
                            </a>
                            <a href="javascript: void(0);" class="gal-like-btn"><i class="mdi mdi-heart-outline text-muted"></i></a>
                        </div> <!-- gallery info -->
                    </div> <!-- end gal-box -->
                </div> <!-- end col -->

                <div class="col-sm-6 col-xl-3 filter-item all graphic photography">
                    <div class="gal-box">
                        <a href="~/Content/assets/images/small/img-2.jpg" class="image-popup" title="Screenshot-2">
                            <img src="~/Content/assets/images/small/img-2.jpg" class="img-fluid" alt="work-thumbnail">
                        </a>
                        <div class="gall-info">
                            <h4 class="font-16 mt-0">Snow covered mountain</h4>
                            <a href="javascript: void(0);">
                                <img src="~/Content/assets/images/users/avatar-2.jpg" alt="user-img" class="rounded-circle" height="24" />
                                <span class="text-muted ml-1">Toni Sanchez</span>
                            </a>
                            <a href="javascript: void(0);" class="gal-like-btn"><i class="mdi mdi-heart-outline text-danger"></i></a>
                        </div> <!-- gallery info -->
                    </div> <!-- end gal-box -->
                </div> <!-- end col -->

                <div class="col-sm-6 col-xl-3 filter-item all web illustrator">
                    <div class="gal-box">
                        <a href="~/Content/assets/images/small/img-3.jpg" class="image-popup" title="Screenshot-3">
                            <img src="~/Content/assets/images/small/img-3.jpg" class="img-fluid" alt="work-thumbnail">
                        </a>
                        <div class="gall-info">
                            <h4 class="font-16 mt-0">Woman sitting on rock</h4>
                            <a href="javascript: void(0);">
                                <img src="~/Content/assets/images/users/avatar-4.jpg" alt="user-img" class="rounded-circle" height="24" />
                                <span class="text-muted ml-1">Maria Crowder</span>
                            </a>
                            <a href="javascript: void(0);" class="gal-like-btn"><i class="mdi mdi-heart-outline text-muted"></i></a>
                        </div> <!-- gallery info -->
                    </div> <!-- end gal-box -->
                </div> <!-- end col -->

                <div class="col-sm-6 col-xl-3 filter-item all graphic illustrator">
                    <div class="gal-box">
                        <a href="~/Content/assets/images/small/img-4.jpg" class="image-popup" title="Screenshot-4">
                            <img src="~/Content/assets/images/small/img-4.jpg" class="img-fluid" alt="work-thumbnail">
                        </a>
                        <div class="gall-info">
                            <h4 class="font-16 mt-0">Smiling woman's face</h4>
                            <a href="javascript: void(0);">
                                <img src="~/Content/assets/images/users/avatar-5.jpg" alt="user-img" class="rounded-circle" height="24" />
                                <span class="text-muted ml-1">Charles East</span>
                            </a>
                            <a href="javascript: void(0);" class="gal-like-btn"><i class="mdi mdi-heart-outline text-muted"></i></a>
                        </div> <!-- gallery info -->
                    </div> <!-- end gal-box -->
                </div> <!-- end col -->


                <!-- end row -->

            </div> <!-- end container -->
        </div>
        <!-- end wrapper -->
        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->
        <!-- Footer Start -->
        @Html.Partial("_Footer")


         @*Vendor js*@ 
        <script src="~/Content/assets/js/vendor.min.js"></script>

         Magnific Popup
        <script src="~/Content/assets/libs/magnific-popup/jquery.magnific-popup.min.js"></script>

         Gallery Init
        <script src="~/Content/assets/js/pages/gallery.init.js"></script>

         App js 
        <script src="~/Content/assets/js/app.min.js"></script>

</body>

</html>

